doctype html
html(lang="en")
  head
    title= vars.pageTitle
    script(src='all.js', defer)
    link(href='main.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
  body
    div.vo-wrapper
        div.vo-intro
            div.vo-logo
                include vsternchen.svg
        main
            h1#mixerDisplay.mixer-display

        div.mixer-print
            div#mixerPrintCount.mixer-count

            div#mixerPrintScreen

            div.mixer-date 
                | berlin, den 21.04.2016

            div.mixer-sign
                div.mixer-mixer
                    | mixer

                div.mixer-trinker
                    | trinker