doctype html
html(lang="en")
  head
    title= vars.pageTitle
    script(src='all.js', defer)
    link(href='main.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
  body
    div.vo-wrapper
        div.vo-intro
            div.vo-logo
                include vsternchen.svg
        main
            h1
                | völlig ohne drink :-(
            div.mixer-display